<div class="page" onload="displayIng()">
 <a href="/recipes" class="btn btn-secondary button-text-main">Back to Browse</a> 
<div class="recipe-form">
<h1 class="title-text">{{this.title}}</h1>
<h2 class="main-text">{{this.cooktime}} mins</h2>
<div class="d-flex flex-direction-row">
<a href="/recipes/{{this.id}}/edit" class="btn btn-secondary button-text-main"> Edit</a>
<form action="/recipes/{{this.id}}?_method=DELETE" method="POST">
<input type="submit"  value="Delete"  class="btn btn-danger button-text">
</div>
</form>
{{#if vegan}}
<p class="sub-title-text veg">Vegan</p>
{{else}}
<p class="sub-title-text veg">Non-Vegan</p>
{{/if}}
{{#if vegetarian}}
<p class="sub-title-text veg">Vegetarian</p>
{{else}}
<p class="sub-title-text veg">non-vegetarian</p>
{{/if}}
<h3 class="sub-title-text">Ingredients</h3>
<div id="ingredients">
    {{!-- <ul class="inglist"></ul> --}}
    <p class="main-text">{{this.ingredients}}</p>
</div>
<h3 class="sub-title-text">Instructions</h3>
<div id="instructions">
    {{!-- <ul id="insList"></ul> --}}
    <p class="main-text wrap">{{this.instructions}}</p>
</div>

</div>

</div>
