<div>
<h1>{{this.title}}</h1>
<h2>{{this.cooktime}} mins</h2>
{{#if vegan}}
<p>Vegan!</p>
{{else}}
<p>Non-Vegan</p>
{{/if}}
{{#if vegetarian}}
<p>Vegetarian</p>
{{else}}
<p>non-vegetarian</p>
{{/if}}
<h3>Ingredients</h3>
<p>{{this.ingredients}}</p>
<h3>Instructions</h3>
<p>{{this.instructions}}</p>

</div>
