<div class="page">
    <h1 class="title-text">Edit {{this.title}}</h1>

<form action="/recipes/{{this.id}}/?_method=put" method="POST" class="recipe-form">
    <div class="form-group">
        <label for="title" class="sub-title-text">Title:</label>
        <input type="text" id="title" name="title" class="form-control" value="{{this.title}}">
            <label for="cooktime">Cooktime(mins):</label>
            <input type="number" id="cooktime" name="cooktime" class="form-control" value= "{{this.cooktime}}">
            <label for="ingredients" class="sub-title-text">Ingredients:</label>
            <input type="text" id="ingredients" name="ingredients" class="form-control" value= "{{this.ingredients}}">
            <label for="instructions" class="sub-title-text">Instructions:</label>
            <input type="text" id="instructions" name="instructions" class="form-control" value="{{this.instructions}}">
            <label for="vegetarian" class="sub-title-text">Vegetarian</label>
            {{#if this.vegetarian}}
            <input class="form-check-input" type="checkbox" id="vegetarian" name="vegetarian" checked="true" />
            {{else}}
            <input class="form-check-input" type="checkbox" id="vegetarian" name="vegetarian"/>
            {{/if}}
            <label for="vegan" class="sub-title-text">Vegan</label>
            {{#if this.vegan}}
            <input class="form-check-input" type="checkbox" id="vegan" name="vegan" checked="true" />
            {{else}}
            <input class="form-check-input" type="checkbox" id="vegan" name="vegan" />
            {{/if}}

    </div>
    <input type="submit" value="Save Updates" class="btn btn-primary button-text">
    <a href="/recipes/{{this.id}}" class="btn btn-secondary button-text">Cancel</a>
    </form>
</div>